body {
    margin: 0;
}

/* 1st section  */

.Bi {
    background-image: url('/resources/Banner\ Image.png');
    background-color: rgb(35, 5, 5);
    border-radius: 16px;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    background-position: flex;
    border-radius: 2px;
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 50px;
    margin-bottom: 100px;

}

.h1d {
    color: rgb(254, 254, 254);

    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;

    margin-left: 344px;
    margin-right: 344px;
    margin-bottom: 177px;
    margin-top: 177px;


}

.h5d {
    color: white;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* padding: 177px 531px 383px 530px; */

}


/* 2nd section */


.second {
    display: flex;
    display: block;
    box-sizing: border-box;
    border: 0.5px solid;
    margin-left: 180px;
    margin-right: 4680px;

}

.dis {
    padding: 10px 0;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    line-height: 107px;
    letter-spacing: 0em;
    text-align: center;
    color: #FF0000;

}

.divs {

    display: block;
    width: 1600px;
    background: #FFF;
    border-radius: 10px;


}

.des {

    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.item {

    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.im {
    margin-left: 400px;
    margin-left: 400px;

}

/* third */


.sectionthree {
    background-image: url('../resources/Vectorrr.png');
    margin-top: 20px;
    height: auto;
    fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    margin-left: 140px;
    margin-right: 140px;
    border-radius: 16px;
    width: 1320px;
    height: 600px;



}

.h3d {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin-left: 126px;
    margin-top: 126px;
    width: 642px;
    height: 176px;
    padding-left: 126px;
    padding-top: 126px;
    padding-bottom: 298px;
    padding-right: 552px;


}

/* 4th section  */

.imx {
    padding: 130px;
    border-radius: 10px;
    background-color: rgb(240, 225, 225);
    margin: 130px 0;
    margin-left: 140px;
    margin-right: 140px;
    display: flex;
    display: block;


}

.go {
    text-align: center;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;

}

.s {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;

    text-transform: capitalize;
}

.r {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.bp {
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

/* 5th section  */

.five {
    padding: 130px;
    border-radius: 10px;
    background-color: rgb(240, 225, 225);
    margin: 130px 0;
    margin-left: 140px;
    margin-right: 140px;
    display: flex;
    display: block;

}


.k {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 10px;
    margin-right: 900px;

}

.l {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.m {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;

}

.ver {
    display: flex;
    flex-direction: row;

}

.mo {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    border-right: 20px;


}

.jo {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;

}

.iu {
    margin-left: 276px;
}

/* section six */

.six {
    background-color: rgb(228, 240, 240);
    margin-left: 140px;
    margin-right: 140px;
    padding: 130px;
    border-radius: 10px;

    position: relative
}


.xo {

    display: flex;
    display: block;

}

.lo {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}

.ko {
    text-align: center;
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.pl {
    text-align: center;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

.rec {
    position: absolute;
    bottom: 10;
    left: 50%;
    transform: translateX(-50%);
    width: 1235px;
    height: 130px;
}

/* section 7 */

.n {
    background-color: azure;
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 80px;
}

.e {
    margin-bottom: 80px;
}

.sz {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.sg {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.vg {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;

}

.yz {
    background-color: beige;
    margin-left: 140px;
    margin-right: 140px;
    padding: 130px;
    border-radius: 10px;

}

.flex-container {

    display: flex;
    flex-wrap: wrap;
    gap: 24px;


}

/* seven */

.seven {
    border-radius: 16px;
    background: rgba(17, 9, 9, 0.05);
    margin-left: 140px;
    margin-right: 140px;
    padding: 130px;
    margin-bottom: 80px;
}

.g {
    display: block;
    text-align: center;

}

.o {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.f {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;

}

.v {

    text-align: center;
    display: block;
}

.on {
    text-align: center;
    display: block;
}

.button {

    border-radius: 50px;
    background: #ffffff;
    width: 648px;
    height: 72px;
    flex-shrink: 0;
}

::placeholder {
    color: rgba(7, 2, 17, 0.30);

}

/* footer */

.footer {
    background-color: #070211;
    margin-left: 0;
    margin-right: 0;
    padding: 130px;

}

.la {
    border: solid;
}

.last {
    color: #FFF;
    margin-left: 140px;
    margin-top: 120px;
    margin-right: 1085px;
    margin-bottom: 409px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    display: flex;



}

.w {
    color: #FFF;
    margin-left: 140px;
}

.cl {
    /* text-align: center;
    width: 64px;
    height: 64px;
    flex-shrink: 0; */
    display: flex;
    justify-content: center;
}