body {
    margin: 0;
}

/* 1st section  */

.Bi {
    background-image: url('/resources/Banner\ Image.png');
    background-color: aliceblue;
    border-radius: 16px;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    background-position: flex;
    border-radius: 2px;
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 50px;
}

.h1d {
    color: white;

    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    padding: 233px 344px 177px 344px ;



}

.h5d {
    color: white;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 177px 531px 383px 530px;

}

/* 2nd section */


.second {
    display: flex;
    row-gap: 120px;
}

.dis {
    padding: 10px 0;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    line-height: 107px;
    letter-spacing: 0em;
    text-align: center;
    color: #FF0000;

}

.divs {

    display: block;
    width: 1600px;
    background: #FFF;
    border-radius: 10px;


}

.des {

    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.item {

    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.im {
    margin-left: 400px;
    margin-left: 400px;

}

/* third */


.sectionthree {
    background-image: url('../resources/Vectorrr.png');
    margin-top: 20px;
    height: auto;
    fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    margin-left: 140px;
    margin-right: 140px;
    border-radius: 16px;
    width: 1320px;
    height: 600px;



}

.h3d {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin-left: 126px;
    margin-top: 126px;
    width: 642px;
    height: 176px;
    padding-left: 126px;
    padding-top: 126px;
    padding-bottom: 298px;
    padding-right: 552px;


}